<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543392239346-be46pc5g61esi54jmtksrvfm2s3mq17l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543392239346-be46pc5g61esi54jmtksrvfm2s3mq17l</string>
	<key>API_KEY</key>
	<string>AIzaSyDWiJ4WNSZumSzdUIi7D946d2kL1TLyZLk</string>
	<key>GCM_SENDER_ID</key>
	<string>543392239346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SocialApp.Viewed</string>
	<key>PROJECT_ID</key>
	<string>bsiapp-693dd</string>
	<key>STORAGE_BUCKET</key>
	<string>bsiapp-693dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543392239346:ios:9ecf2f1d441f50784b4a6b</string>
	<key>DATABASE_URL</key>
	<string>https://bsiapp-693dd.firebaseio.com</string>
</dict>
</plist>